.money-images {
  height: 35px;
  width: 35px;
  margin: 10px;
}
.card1 {
  background-color: #ecfccb;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 26%;
  margin: 10px;
}

.card2 {
  background-color: #06b6d4;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 26%;
  margin: 10px;
}

.card3 {
  background-color: #ede9fe;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 26%;
  margin: 10px;
}
