.trans-item {
  display: flex;
  justify-content: space-around;
  border: 1px;
  border-style: solid;
  list-style-type: none;
  width: 100%;
}
.delete-image {
  height: 25px;
  width: 25px;
}
.del-button {
  border-width: 0px;
  background-color: #ffffff;
}
